* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 232, 232);
}

#mainContainer {
    background-color: rgb(179, 175, 175);
}

.lightBox {
    height: 120px;
    width: 120px;
    margin: 10px;
    background-color: gray;
    
}

.darkBox {
    height: 120px;
    width: 120 px;
    margin: 10px;
    background-color: rgb(35, 34, 34);
}

.lightBox:hover, .darkBox:hover {
    cursor: pointer;
  }